[user]
	name = Tony Chen
	email = chent2828@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[core]
	autocrlf = input
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
