@import url('file:///home/tony/.config/waybar/colors-waybar.css');

/* Global */
* {
  font-family: "JetBrains Mono", "Noto Sans Symbols 2", sans-serif;
  font-size: 12px;
  min-height: 0;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: alpha(@background, 0.85);
  color: @foreground;
  border-radius: 11px; 
  border: 2px solid alpha(@color1, 0.3);
}


/* Module Stlye */
#window,
#tray,
#clock,
#custom-notification,
#network,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#memory,
#cpu{
  background-color: alpha(@background ,0.9);
  color: @foreground;
  padding: 2px 10px; 
  margin: 6px 4px;
  border-radius: 8px;
  border: 1px solid alpha(@color1, 0.3);
}


/* Brighten on Hover */
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#custom-notification:hover,
#clock:hover,
#window:hover {
  background-color: @color2;
}
/* --- */

#workspaces{
  background-color: @background;
  border:none;
  padding: 0;
  margin-left: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 4px;
  border-radius: 10px;
  border: 1px solid alpha(@color1, 0.3);
}
#workspaces button:hover{
  background-color: @color6;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: @color4; 
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: @color6;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#window {
  font-weight: normal;
  color: @foreground;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
